
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

.cities li{
    display:inline-block;
    margin: 0px 0;
    font-size: 34px;
    box-sizing: border-box;
    border:solid 1px  #ffffff;
}
.cities{
    font-size: 0;
    text-align: center;
    padding: 5px;
    list-style: none;
    border:solid 4px  #ffffff;
    
    }
.Lisbon{
    color: #000000;
    background-color: #3399CC;
    

}
.Paris{
    color: #000000;
    background-color: #33CCCC;
    }
.Belgrade{
    color: #000000;
    background-color: #996699;
}

.Kyiv{
    color: #000000;
    background-color: #C24747;
}
.TelAviv{
    color: #000000;
    background-color: #e2674a;
}
.Cair{
    color: #000000;
    background-color: #ffcc66;
}
.NewYork{
    color: #000000;
    background-color: #99cc99;
}
.NewDelhi{
    color: #000000;
    background-color: #669999;}

.SanFrancisco{
    color: #000000;
    background-color: #Cc6699;
}
.Tokyo{
    color: #000000;
    background-color: #339966;
}
.Sydney{
    color: #000000;
    background-color: #666699;
    width: 1000px;
}
li:nth-child(1) {width: 50%;}
li:nth-child(2) {width: 25%;}
li:nth-child(3) {width: 25%;}
li:nth-child(4) {width: 25%;}
li:nth-child(5) {width: 25%;}
li:nth-child(6) {width: 25%;}
li:nth-child(7) {width: 25%;}
li:nth-child(8) {width: 25%;}
li:nth-child(9) {width: 50%;}
li:nth-child(10) {width: 25%;}
li:nth-child(11) {width: 100%;}
.body{
    transition: all .1s ease-in;
    background-color: #3399CC;
    width: 1400px; 
    height: 963px;
    font-family: 'Lexend Mega', sans-serif;
}
.footer{
    color: #ffffff;
    font-size: 18px;
}
.header{
    color: #ffffff;
    font-size: 24px;   
}
ul:hover li {
    opacity: 0.7;
}
ul:hover li:hover {
    opacity: 1;
}