
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

header {
    text-align: center;
    max-width: 1690px;
    max-height: 199px;
    width: 100%;
    
   
}
.header{

}
.conteiner {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.main-grid{
    display: flex;
    
}
.grid-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.grid-item h3 {
    font-size: 21px;
    margin-bottom:35px ;
}
.grid-item p {
    font-size: 14px;
    line-height: 25px;
}
.grid-item figure {
    margin-bottom: 55px;
    margin-top: 50px;
}
.grid-item:hover {
    background-color: #7fff94;
}
.grid-item:hover svg {
    fill: #fff;
}
.grid-item:hover h3 {color: #fff;}
.grid-item:hover p {
color: #fff;
}
.body {
    background: #B99E98;
    max-width: 1690px;
    max-height: 670px;   
    width: 100%;
}
.div1:hover{
    background-color: #7fff94;
    color: #fff;
}

.h3{
color:#00b5b7;
font-family:Montserrat-Regular,AdobeInvisFont,MyriadHebrew-Regular ;	
font-size: 48px;
}
.p {
font-family:PTSans-Regular,AdobeInvisFont,MyriadHebrew-Regular ;		
font-size: 18px;
}
.p:hover
{ background-color: #7fff94;
    color: #fff;}
    .h2:hover{
 background-color: #7fff94;
    color: #fff;}
    }
.h2{
font-family:Montserrat-Bold,AdobeInvisFont,MyriadHebrew-Regular ;		
font-size:12px;
}
.main{
    margin-left: 0 auto;
    max-width: 1690px;
    max-height: 453px;
    width: 100%;
   
    }
